{% include "header.html" %}
<div class="container">
<div class="row center>">
<hgroup>
  <h1>Login Form</h1>
  {% if mess %}
    <h4>[[mess]]</h4>
  {% endif %}
</hgroup>
</div>

<div class="row">
<form action="/login" method="POST">
  <div class="input-field col s12">
    <input type="text" name="username" class="validate" required/>
    <label>Username</label>
  </div>
    <div class="group input-field col s12">
    <input type="password" name="password" class="validate" required/>
    <label>Password</label>
  </div>
  <input type="submit" class="btn waves-effect waves-light" value="Login"/>
    
</form>
</div>
</div>
{% include "footer.html" %}
